

main-container{
    width: 100%;
    height: calc(100vh - 44px);
}

.WikiPage{
    height: 50px;
    display: flex;
    flex-direction: row;
    padding-left: 30px;
    align-items: center;
    width: calc(100% - 30px);
    border-bottom: 1px solid #CCC;
    margin-bottom: 5px;
}

article{
    width: 100%;
    display: flex;
    flex-direction: row;

}

aside{
    padding: 0px 10px;
    border: 1px solid #CCC;
    width: 30%;
    order: 2;
    background-color: #EEE;
}

aside > div{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 10px 0px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #CCC;
}

aside > div > h4{
    margin: 0;
}

.content-text{
    width: 70%;
    order: 1;
    padding: 15px 35px;
}

.content-text .title-section{
    width: 100%;
    border-bottom: 1px dotted #CCC;
    margin-top: 0;
}

aside h2{
    width: 100%;
    padding: 20px 0px;
    text-align: center;
    background-color: #9ED4FF;
    color: #FFF;
    margin: 0;
}

aside img{
    width: 100%;
    margin: 10px 0px;
    background-color: #FFF;
}

.espece-table {
    font-size:12px;
}

.espece-table td,
.espece-table th{
    text-align:center;
}

.row_description {
    font-size:8px;
}

.input-search{
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: calc(80% - 30px);
  background: #f1f1f1;
}

.search-form button {
  float: left;
  width: calc(20% - 30px);
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

.search-form button:hover {
  background: #0b7dda;
}

.search-form::after {
  content: "";
  clear: both;
  display: table;
}