@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

/*//////*/
/*GENERAL*/
/*//////*/

body {
    margin: 0;
    padding: 0;
    line-height: 1.47059;
    font-weight: 400;
    letter-spacing: -.022em;
    font-family: 'Montserrat', sans-serif;
    color: #1d1d1f;
    font-style: normal;
}

a:link,
a:visited,
a:hover,
a:focus,
a:active{
  color:#1d1d1f;
  text-decoration: none;
}

ul{
    list-style-type: none;
    list-style-position: inside;
}

.alert{
    position: fixed;
    top: 7px;
    left: -100%;
    z-index: 99999;
    background-color: RED;
    border-radius: 10px;
    padding: 10px;
    color: white;
    animation: unshow 6s linear;
}

@keyframes unshow{
    0%{
        left: 6px;
    }
    90%{
        left: 6px;
    }
    100%{
        left: -100%;
    }
}

.flex-align-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*//////*/
/*HEADER*/
/*//////*/

.nav-element{
    background-color: #00aaff;
    border: none;
    padding: 10.25px 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position: relative;
}
.nav-element:hover{
    background-color: #0038A5;
}
.navigation-header{
    position:fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9999;
}

.bouton_header{
    background: none;
    border: none;
    cursor: pointer;
    color:#FFF;
}

.navigation-header-global{
    margin: 0;
    width: 100%;
    min-width: 1024px;
    height: 48px;
    max-height: 44px;
    background: rgba(0,0,0,0.92);

}

.bouton-header-options{
    position: absolute;
    top: 30px;
    width: 260px;
    right: 0;
    left: 0;
    z-index: 99999999;
    background-color: #FFF;
    transition-duration: .2s;
    opacity: 0;
    pointer-events: none;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #CCC;
    text-align: left;
}

.nav-element:hover > .bouton-header-options{
    top: 40px;
    opacity: 1;
    pointer-events: all;
}

.bouton-header-options a{
    color: #262626;
    text-transform: uppercase;
    text-decoration: none;
    padding: 9px;
    text-align: left;
    line-height: 2;
    font-sizing: 9;
}

.bouton-header-options a:hover{
    color: #F96669;
}

.chevron-container{
    position: relative;
}

.chevron{
    height: 10px;
    width: 10px;
    background-color: #FFF;
    transform: rotate(45deg);
    position: absolute;
    top: -4px;
    left:18px;
}

.chevron-profile{
    left:inherit;
}

.sign-in-button{
    border-radius: 9999px !important;
    background-color: rgba(255,255,255,.25);
}

.sign-in-button:hover{
    background-color: rgba(255,255,255,.5);
}

.sign-in-button button{
    font-weight: 600;
}

.profile-btn-group{
    margin: 0 0 0 10px;
    width:70px;
    padding:0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position: relative;
    z-index: 9999999;
}

.profile-button{
    display:flex;
    flex-direction: row;
    width:100%;
    padding:0;
    background: none;
    border: none;
    cursor: pointer;
    color:#FFF;
}

.profile-header-options {
	position: absolute;
	top: 30px;
	width: 150px;
	right: -46.5px;
	z-index: 990;
	background-color: #FFF;
	transition-duration: .2s;
	opacity: 0;
	pointer-events: none;
	border-radius: 8px;
	box-shadow: 0px 0px 5px #CCC;
	text-align: left;
	padding: 0 25px;
}

.profile-header-options ul{
    list-style-type: none;
    list-style-position: inside;
    padding: 0;
}

.profile-header-options li{
    color: #262626;
    text-decoration: none;
    text-align: left;
    line-height: 2;
    font-size: 12px;
    font-weight: 700;
}

.profile-header-options a:hover{
    color: #F96669;
}

.profile-icon-block{
    display: block;
    max-width:100%;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

.profile-username{
    margin-bottom:15px;
    padding-bottom: 10px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: #c6d2e1
}

.icon-profile{
	width: 30px;
	height: 30px;
	border-width: 2px;
	border-style: solid;
	border-color: #fff;
	border-radius: 9999px;
	display:block;
}

.um-icon {
	display: block;
	fill: currentColor;
	height: 1em;
	width: 1em;
}

/*///////*/
/*TABLEAU*/
/*///////*/

table {
    border-collapse: collapse;
    width: 90%;
    margin: 0 auto;
    color: #1E1E1E;
    margin-bottom: 50px;
}

table td, table th {
  padding: 11px 11px 11px 0;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  color: black;
  font-size: 12px;
}

table a{
    color: #4d4d4d;
    text-decoration: none;
}
table a:hover{
  color: #F96669 !important;
  text-decoration: underline;
}

/*HOME*/

.background-home{
	background-size: cover;
	background-position: 50% 50%;
	position: absolute;
	margin: auto;
	width: 100%;
	height: 100%;
	right: -100%;
	bottom: -100%;
	top: -100%;
	left: -100%;
	object-fit: cover;
	z-index: -100;
}

.align-center-home{
    position: relative;
    z-index: 1;
    margin-top: 320px;
    -webkit-perspective: 1020px;
    perspective: 1020px;
    -webkit-transform: perspective(1020px);
    transform: perspective(1020px);
    text-align: center;
    max-width: 820px;
    margin: 130px auto 150px;
}

/*///////*/
/*FORMULAIRE*/
/*///////*/

.insert-form{
    min-width:500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-width:700px;
}

.insert-form > div > div{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.insert-form > div > div > div{
    width: 49%;
}

.insert-form label{
    position: absolute;
    top: 25px;
    left: 30px;
    transition-duration: .5s;
    font-size: 19px;
    color: #7D7D7D;
    pointer-events: none;
}

.insert-form .label-right{
    left: 394px;
}

.insert-form input,
.insert-form textarea{
    width: 100%;
    padding: 33px 30px 18px 30px;
    margin: 0 0 10px;
    box-shadow: inset 0 0 0 2px #C7C7C7;
    transition-duration: .5s;
    border: none;
    background: none;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 19px;
}

.insert-form i{
    display: none;
    position: absolute;
    top: 35px;
    left: 100px;
}

label .info-date{
    display: inherit;
    font-size: 8px;
    top: 4px;
    left: 45px;
    width: 260px;
}

.insert-form input:focus{
    box-shadow: inset 0 0 0 3px #00aaff;
}

.insert-form input:focus ~ label,
.insert-form input:valid ~ label{
    top: 13px;
    font-size: 16px;
}

.insert-form input:focus ~ i,
.insert-form input:valid ~ i{
    display: block;
}

label.always-active{
    top: 12px;
    font-size: 15px;
}

.insert-form select{
    width: 100%;
    padding: 33px 0 18px 30px;
    margin: 0 0 10px;
    box-shadow: inset 0 0 0 2px #C7C7C7;
    border: none;
    background: none;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 19px;
}

.upload-image{
    width: 500px;
    overflow: hidden;
    border-radius: 10px;
    margin: 10px auto;
    border-width: 2px;
    border-style: solid;
    border-color: #C7C7C7;
}

.upload-image img{
    width: 500px;
    margin: 0 auto;
}

#weatherTable input{
    padding: 0;
    box-shadow: inherit;
    transition-duration: inherit;
}

#weatherTable i{
    display: inherit;
    top: inherit;
    left: inherit;
}

/*///////*/
/*CARTES*/
/*///////*/

.card-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 960px;
    margin: 0 auto;
    padding: 20px 10px;
}

.card-container > div{
    background-color: #FFF;
    width: 300px;
    height: 350px;
    margin: 30px 10px 10px;
    box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
    border-radius: 2px;
    line-height: 10px;
}

.card-image{
    height: 260px;
    width: 300px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.card-content{
    padding: 20px;
    background-color: #FFF;
    width: 300px;
    height: calc(100% - 280px);
    border-radius: 2px 2px 0 0;
    padding:0;
}

.card-content h2{
    margin: 20px 10px;
}

.btn-group a{
    color: #0082FF;
    padding: 10px 0;
    margin: 0 10px;
    width: 40%;
    border: 1px solid #0082FF;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    font-weight: 500;
    transition-property: background-color, color;
    transition-duration: 0.6s;
}

.btn-group a:hover{
    background-color: #0082FF;
    color: #FFF;
}

.btn-group .btn-delete{
    color: #FFF;
    border: 1px solid #FA0707;
    background-color: #FA0707;
}

.btn-group .btn-delete:hover{
    background-color: #B80F05;
}

.btn-group{
    margin: 0 auto;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.lien-ordre-affichage{
    position: absolute;
    top: 50px;
    right: calc((100% - 960px)/2);
    display: inline-block;
    padding: 4px 5px;
    border-radius: 2px;
}

.lien-ordre-affichage:hover{
    background-color: #F0F0F0;
}

/*///////*/
/*PRISES*/
/*///////*/

.prise-image{
    margin: 24px auto;
    width:100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #C7C7C7;
}

.prise-content .btn-delete{
    color: #FFF;
    border: 1px solid #FA0707;
    background-color: #FA0707;
    width:100%;
}

.prise-content .btn-delete:hover{
    background-color: #B80F05;
}

.prise-content{
    margin: 0 auto;
    border: 0.5px solid #AAA;
    width: 80%;
    flex-direction: column;
    padding-bottom: 150px;
}

.prise-content table{
    margin: 0 auto;
    width: 100%;
    display: table;
    box-sizing: border-box;
    border-spacing: 0px;
    border-color: grey;
}

.prise-content table > thead{
    display: inline-block;
    width:100%;
}

.prise-content td{
    width:50%;
}

.prise-content td > div{
    color: rgba(0,0,0,.6);
    word-break: break-word;
}

.prise-content > div{
    min-width: 75%;
    padding: 0;
    flex-grow: 1;
    margin: 10px 5px;
}

.header-titre{
    height: 50px;
    display: flex;
    flex-direction: row;
    padding-left: 30px;
    align-items: center;
    width: calc(100% - 30px);
    border-bottom: 1px solid #CCC;
    margin-bottom: 5px;
}

/*///////*/
/*FOOTER*/
/*///////*/

footer{
    width:100%;
    background-color:#FFF;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    margin: 0 auto;
    padding: 30px 0 24px;
    border: 0;
    justify-content: center;
}

footer > a{
    margin: 0 18px 0 0;
}

/*///////*/
/*MAPBOX*/
/*///////*/

#map {
    width: 100%;
    height: 300px;
 }

.mapboxgl-canvas-container.mapboxgl-interactive, .mapboxgl-ctrl-group button.mapboxgl-ctrl-compass {
	cursor: -webkit-crosshair !important;
	cursor: -moz-crosshair !important;
	cursor: crosshair !important;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/*///////*/
/*PROFILE*/
/*///////*/

.profile-general{
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    border: 0 solid #000;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin: 0;
    padding: 0;
    position: relative;
}

.profile-main{
    height: 100%;
	box-sizing: content-box;
	padding: 60px 20px 0;
	width: calc(100% - 40px);
	margin-bottom: 0;
	-webkit-box-flex: 1;
	flex-grow: 1;
	margin: 0 auto 30px;
	margin-bottom: 30px;
	max-width: 935px;
	padding: 30px 20px 0;
}

.profile-header {
	margin-bottom: 44px;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	align-items: stretch;
	border: 0 solid #000;
	margin-bottom: 0px;
	position: relative;
}

.profile-header section{
	-webkit-flex-basis: 30px;
	-ms-flex-preferred-size: 30px;
	flex-basis: 30px;
	-webkit-box-flex: 2;
	-webkit-flex-grow: 2;
	-ms-flex-positive: 2;
	flex-grow: 2;
	color: #262626;
	color: rgba(var(--i1d,38,38,38),1);
	-webkit-flex-shrink: 1;
	-ms-flex-negative: 1;
	flex-shrink: 1;
	min-width: 0;
}

.aSDkl3{
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-shrink: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    min-width: 0;
    display: flex;
}

.edit-profile{
	-webkit-flex-shrink: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	margin-left: 20px;
	display: block;
}

.edit-profile button{
    background-color: transparent;
    border: 1px solid rgba(var(--ca6,219,219,219),1);
    color: #262626;
    color: rgba(var(--f75,38,38,38),1);
    width: 100%;
    position: relative;
    -webkit-appearance: none;
    appearance: none;
    background: 0 0;
    background-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    padding: 5px 9px;
    text-align: center;
    text-transform: inherit;
    user-select: none;
    font-size: 14px;
    line-height: 18px;
}

.reglages-profile {
	flex-direction: row;
	flex-shrink: 0;
	margin-left: 5px;
	align-items: stretch;
	border: 0 solid #000;
	box-sizing: border-box;
	display: flex;
	position: relative;
}

.reglages-profile button{
	-webkit-box-align: center;
	align-items: center;
	background: 0 0;
	border: 0;
	cursor: pointer;
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	padding: 8px;
}

.profile-header-username{
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: rgba(var(--i1d,38,38,38),1);
	font-weight: 300;
	font-size: 28px;
	line-height: 32px;
	margin: -5px 0 -6px;
}

.profile-aside-left {
	-webkit-flex-basis: 0;
	-ms-flex-preferred-size: 0;
	flex-basis: 0;
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	margin-right: 30px;
	-webkit-flex-shrink: 0;
	-ms-flex-negative: 0;
	align-items: stretch;
	-webkit-box-direction: normal;
	flex-direction: column;
	margin-right: 0px;
	position: relative;
}

.mDSA {
	height: 150px;
	width: 150px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.bdrf3 {
	border: 0;
	cursor: pointer;
	height: 100%;
	padding: 0;
	width: 100%;
}

.Msaef {
	background-color: #fafafa;
	background-color: rgba(var(--b3f,250,250,250),1);
	border-radius: 50%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	height: 100%;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	width: 100%;
}

.btn-prise{
    margin: 50px 0 0;
    width: 200px;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
    min-width: 50px;
    min-height: 49px;
    background-color: #00aaff;
    outline-style: none;
    transition-property: background-color, box-shadow;
    transition-duration: 0.2s;
    cursor: pointer;
    user-select: none;
    padding-left: 30px;
    padding-right: 30px;
    border-color: rgba(0, 0, 0, 0);
    border-width: 1px;
    border-radius: 9999px;
    border-style: solid;
    display: inline-block;
}

.btn-prise:hover,
.btn-prise:focus{
    background-color:#0082FF;
}

.btn-prise span{
    color: #FFF;
    font-weight: 600;
}

.btn-prise img{
    margin-left:7px;
    width:11px;
    height:11px;
}

/*///////*/
/*MODAL*/
/*///////*/

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 55px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 560px;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: left;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.btn-save{
    border: none;
    float: right;
    width: 140px;
    background-color: #00aaff;
    transition-property: background-color, box-shadow;
    transition-duration: 0.2s;
    cursor: pointer;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 9999px;
    margin:12px 0 0;
}

.btn-save span{
    color:#FFF;
}

.btn-save:hover,
.btn-save:focus{
    background-color:#0082FF;
}

.btn-delete{
    float: left;
    background-color: #0082FF;
    cursor: pointer;
    padding-left: 30px;
    padding-right: 30px;
    padding: 10px 0;
    width: 40%;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    font-weight: 500;
    transition-property: background-color, color;
    transition-duration: 0.6s;
    -webkit-appearance: button;
}

.btn-delete span{
    color:#FFF;
}

.btn-delete:hover,
.btn-delete:focus{
    background-color:#0C43E8;
}

.message-modal{
    margin: 50px auto;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
}