{% extends "base.html" %}
{% block title %}Delete METHODE{% endblock %}
{% block body %}
<link rel="stylesheet" href="../../static/css/espece.css">
    <div class="home">
        <BODY bgcolor="white">
            <form method="POST" action="{{ url_for('methodes_delete') }}">
                <div>

                </div>
                <br>
                <table border="1" cellpadding="5" cellspacing="5" class="espece-table">
                    <thead>
                        <tr>
                            <th>ID Methode</th>
                            <th>Nom Methode</th>
                            <th>Valide Methode</th>
                        </tr>
                    </thead>
                    {% for row in data %}
                        <tr>
                            <td><input type="hidden" name="id_Methode_delete_html" value="{{ row.id_Methode }}"></td>
                            <td>{{ row.id_Methode }}</td>
                            <td>{{ row.NomMethode }}</td>
                            <td>{{ row.ValideMethode }}</td>
                            <td><button class="" type="submit">EFFACER</button></td>
                        </tr>
                    {% endfor %}
                </table>
            </form>
        </BODY>
    </div>
{% endblock %}