{% extends "base.html" %}
{% block title %} TOPFish {% endblock %}
{% block body %}
<div style="width:100%;height:100%;">
    <div class="background-home" style="background-image: url('../../static/home-background.JPG');" data-object-fit="cover">
    </div>
    <div style="max-width: 1200px;margin: 0 auto;">
        <div class="align-center-home">
            <h1 style="color:#FFF;font-size:60px;margin-top:50px;">Bienvenue sur TOPFish</h1>
            <a href="{{ url_for('profile') }}" class="btn-prise" role="button" aria-label="Commencer" data-focusable="true" style="display:inline-block;width:280px;margin-top:50px;">
                <div style="height:49px;" class="flex-align-center">
                   <span>
                       Commencer à partager des prises
                   </span>
                </div>
            </a>
        </div>
    </div>
</div>
{% endblock %}