{% extends "base.html" %}
{% block title %} Afficher PRISES Cards {% endblock %}
{% block body %}
    <div class="home">
        <form method="POST" action="">
            <div>
                {{ msgHtml }}
            </div>
            <div class="header-titre">
                <header>
                    <H1>Découvrir</H1>
                </header>
            </div>
            <div class="lien-ordre-affichage">
                {% if order_by=='ASC' %}
                <a href="{{ url_for('prises_card_afficher', order_by='DESC') }}">Date d'ajout (la plus récente)</a>
                {% else %}
                <a href="{{ url_for('prises_card_afficher', order_by='ASC') }}">Date d'ajout (la plus ancienne)</a>
                {% endif %}
            </div>
            <div class="card-container">
                {% for row in data %}
                {% if data %}
                <div>
                    <a href="{{ url_for('prises_afficher', hashid=create_hashid(row.id_Prise) ) }}">
                        <div class="card-image" style="background-image: url('../../static/img/up/{{ row.PrisePhoto }}');height:300px;" title="Prise">
                        </div>
                    </a>
                    <div class="card-content flex-align-center" style="height:calc(100% - 320px);padding-top:10px;">
                        <img src="{{ row.Avatar }}?s=400" alt="User avatar" class="icon-profile">
                        <h2>{{ row.User }}</h2>
                    </div>
                </div>
                {% endif %}
                {% else %}
                <table style="margin-top:30px;">
					<tr>
						<td>
							Aucune prise.
						</td>
						<td>
							<a href="{{ url_for('prises_add') }}" role="button">Add</a>
						</td>
					</tr>
				</table>
                {% endfor %}
            </div>
        </form>
    </div>
{% endblock %}
{% block footer %}
<div>
    <footer>
        <a href="/">© TopFish</a>
    </footer>
</div>
{% endblock %}