{% extends "base.html" %}
{% block title %}Ajouter une PRISE{% endblock %}
{% block head %}
<script src='https://api.mapbox.com/mapbox-gl-js/v1.10.1/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v1.10.1/mapbox-gl.css' rel='stylesheet' />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %}
{% block body %}
    <div class="home">
        <body bgcolor="#FFF">
            <div>
                    {% if error %}
                        <p class=error><strong>Error:</strong> {{ error }}
                    {% endif %}
            </div>
            <div class="header-titre">
                <header>
                    <H1>Ajouter une prise</H1>
                </header>
            </div>
            <form class="insert-form" method="POST" action="" enctype="multipart/form-data" id="uploadForm">
                <div>
                    <div id="after-upload">
                        <input type='file' name="file" id="file" aria-label="Photo" required/>
                        <label class="always-active">Photo</label>
                    </div>
                    <h3>Cliquez sur la map pour ajouter un marqueur</h3>
                    <div style="height:320px;">
                        <div id="map"></div>
                    </div>
                    <div>
                        <div>
                            <input type = "text" name="lat_html" id="lat" readonly="yes"/>
                            <label class="always-active">Latitude</label>
                        </div>
                        <div>
                            <input type = "text" name="lng_html" id="lng" readonly="yes"/>
                            <label class="always-active label-right">Longitude</label>
                        </div>
                    </div>
                    <div>
                        <div>
                            <input type = "date" name= "DatePrise_html" id= "DatePrise_html" class="dateTimeListener" readonly="yes" required/>
                            <label class="always-active">Date <i class="info-date">Entrez une date inférieure à 6 jours pour obtenir les conditions météo</i></label>
                        </div>
                        <div>
                            <input type = "time" name= "HeurePrise_html" id= "HeurePrise_html" class="dateTimeListener" readonly="yes" required/>
                            <label class="always-active label-right">Heure</label>
                        </div>
                    </div>
                    <div>
                        <input type="button" id="weatherButton" value="Obtenir les conditions météo" style="display: none;">
                    </div>
                    <div>
                        <div id="weatherTable" style="display: none;width:100%;">
                            <table>
                                <tr>
                                    <td>
                                        <h4>Température de l'air </h4>
                                        <div class="flex-align-center">
                                            <input id="temp" name="temp_html" readonly="yes">
                                            <i> °C</i>
                                        </div>
                                    </td>
                                    <td>
                                        <h4>Time zone </h4>
                                        <div>
                                            <input id="timezone" name="timezone_html" readonly="yes">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h4>Pression atmosphérique</h4>
                                        <div class="flex-align-center">
                                            <input id="pression" name="pression_html" readonly="yes"><i>  hPa</i>
                                        </div>
                                    </td>
                                    <td>
                                        <h4>Temps </h4>
                                        <div>
                                            <input id="conditionMeteo" name="conditionMeteo_html" readonly="yes">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h4>Humidité de l'air </h4>
                                        <div>
                                            <input id="humidity" name="humidity_html" readonly="yes">
                                        </div>
                                    </td>
                                    <td>
                                        <h4>Vitesse du vent </h4>
                                        <div class="flex-align-center">
                                            <input id="vent" name="vent_html" readonly="yes"><i> m/s</i>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div>
                        <select name="Espece_select">
                        {% for row in data_especes %}
                            <option value="{{ row.id_Espece }}">{{ row.NomEspece }}</option>
                        {% endfor %}
                            <option value="33">Autre</option>
                        </select>
                    </div>
                    <div>
                        <select name="Methode_select">
                        {% for row in data_methodes %}
                            <option value="{{ row.id_Methode }}">{{ row.NomMethode }}</option>
                        {% endfor %}
                            <option value="16">Autre</option>
                        </select>
                    </div>
                    <div>
                        <div>
                            <input type = "text" name= "PoidsPrise_html" maxlength="4" size="4" required/>
                            <label>Poids</label>
                            <i>kg</i>
                        </div>
                        <div>
                            <input type = "text" name= "TaillePrise_html" maxlength="5" size="5" required/>
                            <label class="label-right">Taille</label>
                            <i style="left:464px;">cm</i>
                        </div>
                    </div>
                    <div>
                        <input type="submit" value="Enregistrer la prise">
                    </div>
                </div>
            </form>
            <script>
                function filePreview(input) {
                    if (input.files && input.files[0]) {
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            $('#after-upload + div').remove();
                            $('#after-upload').after('<div class="flex-align-center upload-image" ><img src="'+e.target.result+'"/></div>');
                        };
                        reader.readAsDataURL(input.files[0]);
                    }
                }

                $("#file").change(function () {
                    filePreview(this);
                });
            </script>
            <script type="text/javascript" src="{{ url_for('static', filename='js/map.js') }}"></script>
            <script type="text/javascript" src="{{ url_for('static', filename='js/weather.js') }}"></script>
        </body>
    </div>
{% endblock %}
{% block footer %}
<div>
    <footer>
        <a href="/">© TopFish</a>
    </footer>
</div>
{% endblock %}